main {
    font-family: 'Comfortaa';
}

.copy-icon {
    border-radius: 50%;
}

.container-image {
  height: fit-content;
}

.copy-icon:active {
    animation-name: clck;
    animation-duration: 0.3s;
}

.card-info-container {
  min-height: 100%;
}

@keyframes clck {
  0%   {background-color:#f5f5f5;}
  10%  {background-color:#e6e6e6;}
  15%  {background-color:#d6d6d6;}
  25%  {background-color:#cecece;}
  40%  {background-color:#bdbdbd;}
  55%  {background-color:#bbbbbb;}
  70%  {background-color:#bebebe;}
  75%  {background-color:#d8d8d8;}
  80%  {background-color:#e6e6e6;}
  90%  {background-color:#f5f5f5;}
  100% {background-color:#fafafa;}
}

@keyframes hov {
  0%   {background-color:#f5f5f5;}
  50%  {background-color:#e6e6e6;}
  100%  {background-color:#d6d6d6;}
}

@media (min-width: 576px) {

    .container-info {
        font-size: 60px;
    }
    .container-contacts {
        min-width: 100%;
    }
    .container-map {
        max-height: 100%;
        min-height: 500px;
    }
    .p-info {
      font-size: 40px;
    }
  .contact-card {
      min-width: 50%;
      max-width: 50%;
    }

}



@media (min-width: 768px) {

    .container-info {
            font-size: 24px;
        }

    .container-contacts {
        min-width: 50%;
    }
    .container-map {
        max-height:100%;
        min-height: 500px;
    }
    .p-info {
      font-size: 28px;
    }
  .contact-card {
      min-width: 50%;
      max-width: 50%;
    }

}



@media (min-width: 992px) {

    .container-info {
        font-size: 17px;
      }
    .container-contacts {
        min-width: 30%;
    }
    .container-map {
        min-height: 500px;
        max-height: 100%;
    }
    .p-info {
      font-size: 22px;
    }

    .contact-card {
      min-width: 33%;
      max-width: 33%;
    }
}



@media (min-width: 1200px) {

    .container-info {
        font-size: 22px;
    }

    .container-contacts {
        min-width: auto;
    }
    .container-map {
        min-height: 500px;
        max-height: 100%;
    }
    .p-info {
      font-size: 22px;
    }

}



@media (min-width: 1400px) {

    .container-info {
        font-size: 24px;
    }
    .container-contacts {
        min-width: auto;
    }
    .container-map {
        min-height: 600px;
        max-height: 100%;
    }
    .p-info {
      font-size: 26px;
    }

}